.badge-button .badge{
    display: inline-block;
    width: 25px;
    height: 25px;

    padding-top: 3px;

    border-radius: 25px;
    background-color: #1ca1c1;
    color: #fff;

    box-sizing: border-box;    
}

.icon-center .webix_icon_btn {
    text-align: center;
    margin-right: 0px;
    line-height: inherit;
}